#services {
  display: flex;
}

#services > div {
  height: 100vh;
  position: relative;
  background-color: var(--black-bg);
  background-size: cover;
  background-position: center;
}

.services-text {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  transition: background-color 300ms;
}

.services-title {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.services-description {
  color: rgba(250, 250, 250, 0.95);
  padding: 1rem;
}

.services-description p {
  margin-top: 0;
  max-width: 40ch;
}

.services-link {
  display: inline-block;
  padding: 0.5rem 1rem;
}


@media only screen and (min-width: 801px) {
  #services > div {
    width: 50%;
    filter: grayscale(1);
    transition: filter .3s;
  }
  
  #services > div:hover,
  #services > div:focus-within {
    filter: grayscale(0);
  }

  .services-description {
    max-height: 0;
    opacity: 0;
    transition: max-height 1s, opacity 1s;
  }

  #services > div:hover .services-description,
  .services-description:focus-within {
    max-height: 200px;
    opacity: 1;
  }

  #services > div:hover .services-text,
  #services > div:focus-within .services-text {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@media only screen and (max-width: 800px) {
  #services {
    height: auto;
    flex-direction: column;
  }

  #services > div {
    height: 65vh;
    width: 100%;
  }

  .services-text {
    background-color: rgba(0, 0, 0, 0.4);
  }
}