.instagram-container {
  width: 100%;
}

#instagram .inner-container {
  display: flex;
  gap: 1rem;
}

.instagram-image img {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  #instagram .inner-container {
    flex-direction: column;
  }

  .instagram-image img {
    width: 100%;
    height: 45vh;
    object-fit: cover;
  }
}