
section.tagline {
  margin: 3rem auto;
}

.tagline-title {
  margin: 0;
  font-size: 3.5rem;
  font-weight: 100;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .tagline-title {
    font-size: 2.5rem;
    font-weight: normal;
  }
}