:root {
  --accent-color: #AFDAE3;
  --secondary-color: #D7F8FF;
  --secondary-color-opaque: rgb(215, 248, 255, 0.5);
  --dark-color: #0087A4;
  --primary-color: #36464f;
  --menu-scroll-height: 7.5vh;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-color)
}

.cursive {
  font-family: 'Stalemate', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

a:not([class]) {
  position: relative;
}

a:not([class])::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--accent-color);
  transition: width .3s;
}

a:not([class]):hover::after {
  width: 100%;
}

p {
  max-width: 50ch;
  line-height: 1.5;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

.inner-container {
  width: 100%;
}

.flex-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-screen {
  min-height: calc(100vh - var(--menu-scroll-height));
}

.secondary-bg {
  background-color: var(--secondary-color-opaque);
}

.styled-button {
  border-color: transparent;
  background-color: var(--dark-color);
  color: #fff;
  border-radius: 0.25rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(50, 92, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: background-color .3s;
}

.styled-button:hover {
  background-color: rgba(0, 134, 164, 0.9);
}

nav {
  height: 15vh;
  position: sticky;
  top: 0;
  background-color: #fff;
  transition: height .3s;
  z-index: 99;
}

nav.scrolled {
  height: var(--menu-scroll-height);
}

.menu-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.menu-item {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: font-size .3s;
}

.scrolled .menu-item {
  font-size: 0.8rem;
}

.nav-logo {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo a {
  height: 100%;
}

.nav-logo a::after {
  display: none;
}

.nav-logo img {
  height: 100%;
  object-fit: contain;
  transition: height .3s;
}

header {
  height: 85vh;
  background-color: var(--dark-color);
  background-image: url('../images/yoga-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header-text {
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  width: 100%;
  text-align: center;
}

.page-title {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  transition: opacity 500ms;
}

.page-title.fade-out {
  opacity: 0;
}

.page-subtitle {
  margin-top: 0;
  color: var(--accent-color);
}

.tagline {
  margin: 3.5rem auto;
}

.tagline-title {
  margin: 0;
  font-size: 3.5rem;
  font-weight: 100;
  text-align: center;
}

#about {
  margin-bottom: 4.5rem;
}

#newsletter {
  margin: 4.5rem auto;
}

#newsletter .inner-container {
  padding: 2rem;
  box-shadow: 3px 5px 7px 0px var(--secondary-color);
}

#newsletter-form {
  max-width: 450px;
  width: 100%;
}

.input-container {
  margin: 0.5rem 0;
}

.input-container label {
  display: block;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.input-container input {
  padding: 1rem;
  width: 100%;
  border-color: transparent;
  color: var(--dark-color);
}

#newsletter-button {
  padding: 1rem;
  margin: 1rem 0 0.5rem;
  width: 100%;
}

.newsletter-title {
  margin: 0;
}

.info-container {
  display: flex;
}

.info-container > div {
  width: 50%;
}
.image-container {
  position: relative;
}

.potrait {
  width: 350px;
}

.image-shadow {
  position: absolute;
  height: 100%;
  width: 350px;
  background-color: var(--secondary-color);
  right: 25px;
  top: 20px;
  z-index: -1;
}

.text-container p + p {
  margin-top: 0;
}

#services {
  display: flex;
}

#services > div {
  width: 50%;
  position: relative;
  background-size: cover;
  background-position: center;
  filter: grayscale(1);
  transition: filter .3s;
}

#services > div:hover {
  filter: grayscale(0);
}

.training-section {
  background-image: url(../images/training.jpg);
}

.coaching-section {
  background-image: url(../images/coaching.jpg);
}

.services-text {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.services-title {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.services-description {
  color: rgba(250, 250, 250, 0.95);
  padding: 1rem;
  max-height: 0;
  opacity: 0;
  transition: max-height 1s, opacity 1s;
}

.services-description p {
  margin-top: 0;
  max-width: 40ch;
}

#services > div:hover .services-description {
  max-height: 200px;
  opacity: 1;
}

.services-link {
  display: inline-block;
  padding: 0.5rem 1rem;
}

.instagram-container {
  width: 100%;
}

#instagram .inner-container {
  display: flex;
  gap: 1rem;
}

.instagram-image img {
  width: 100%;
}

footer {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: .9rem;
}

.footer-links a + a {
  margin-left: 1em;
}

@media only screen and (max-width: 800px) {
  .container {
    width: 100%;
  }

  nav.scrolled {
    height: 75px;
  }

  .nav-logo {
    width: 100%;
  }

  .menu-item {
    display: none;
  }

  .info-container {
    flex-direction: column;
  }

  .info-container > div {
    width: 100%;
  }

  .info-container .image-shadow {
    display: none;
  }

  .text-container {
    padding: 2rem 1rem;
  }

  .tagline-title {
    font-size: 2.5rem;
    font-weight: normal;
  }

  .potrait {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }

  #services {
    height: auto;
    flex-direction: column;
  }

  #services > div {
    height: 100vh;
    width: 100%;
  }

  #instagram .inner-container {
    flex-direction: column;
    padding: 0 1rem;
  }

  .instagram-image img {
    width: 100%;
    height: 45vh;
    object-fit: cover;
  }

  footer {
    height: auto;
    padding: 1rem;    
    flex-direction: column;
    gap: 1rem;
  }
}